@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
@font-face {
  font-family: "Cyberpunk";
  src: url("../font/Cyberpunk.ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:active,
*:focus {
  outline: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media (max-width: 690px) {
    html {
      font-size: 55%; } }
  @media (max-width: 404px) {
    html {
      font-size: 45%; } }

body {
  font-family: "montserrat",sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: #14171b; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  display: grid;
  grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content min-content 100vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 876px) {
    .container {
      grid-template-rows: 9rem 87vh min-content min-content min-content min-content min-content min-content min-content min-content min-content; } }
  @media (max-width: 690px) {
    .container {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }

.btn {
  background-color: #FB8F1D;
  outline: none;
  border-color: transparent;
  border-radius: .8rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 1.5rem 3.5rem; }

.text {
  font-size: 1.6rem;
  line-height: 1.9;
  opacity: .6; }

.mb_sm {
  margin-bottom: 2rem; }

.mb_sm--2 {
  margin-bottom: .7rem; }

.mb_md {
  margin-bottom: 3rem; }

.mb_lr {
  margin-bottom: 4rem; }

.mb_hg {
  margin-bottom: 5rem; }

.mb_hg--2 {
  margin-bottom: 14rem; }

.small-text {
  color: #f75810;
  font-weight: bold; }

.btn-soon {
  background-color: gray !important;
  color: black;
  font-weight: bold;
  font-family: "montserrat",sans-serif;
  cursor: auto; }
  .btn-soon:hover:after {
    display: none; }
  .btn-soon:hover:before {
    display: none; }

.btn {
  font-family: "montserrat",sans-serif; }

.header {
  grid-column: full-start / full-end;
  position: sticky;
  top: 0;
  z-index: 900;
  display: flex;
  align-items: center; }
  @media (max-width: 1100px) {
    .header {
      position: static; } }

.hide:not(:hover) .navigation__items {
  visibility: hidden; }

.nav-scrolled:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s; }

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 7rem;
  margin-right: 7rem;
  transition: all .6s; }
  .logo--red {
    color: #f9f500;
    transition: all .6s; }
  .logo:hover {
    color: #f9f500; }
    .logo:hover .logo--red {
      color: #fff; }
  @media (max-width: 690px) {
    .logo {
      margin-left: 2.1rem; } }

.navigation {
  align-self: stretch;
  display: contents; }
  .navigation__items {
    display: flex;
    align-self: stretch; }
  .navigation__item {
    margin-right: 3rem;
    font-size: 1.1rem;
    letter-spacing: 4px;
    align-self: stretch;
    display: flex; }
  .navigation__link {
    color: #72777e;
    transition: all .4s;
    align-self: stretch;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .2s; }
    .navigation__link::after {
      content: "";
      position: absolute;
      width: 100%;
      height: .2rem;
      background-color: #f9f500;
      bottom: 2rem;
      transform: scale(0);
      transform-origin: left;
      transition: all .8s; }
    .navigation__link:hover::after, .navigation__link:hover {
      color: #f9f500;
      transform: scale(1); }
  @media (max-width: 1100px) {
    .navigation {
      display: none; } }

.cta {
  margin-left: auto;
  margin-right: 7rem;
  border: none;
  background-color: #f9f500;
  padding: 1.5rem 3.5rem;
  color: black;
  font: inherit;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all .6s; }
  .cta::before {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    background-color: black;
    -webkit-mask-image: url("../../img/chat.svg");
    -webkit-mask-size: cover;
    mask-image: url("../../img/chat.svg");
    mask-size: cover; }
  .cta:hover {
    background-color: white; }
  .cta:focus {
    outline: none; }
  @media (max-width: 1100px) {
    .cta {
      display: none; } }

.hero__content {
  grid-column: col-start 2 / col-end 5;
  align-self: flex-end;
  padding: 3rem 0;
  position: relative; }

.hero__heading {
  color: #f9f500;
  font-size: 20rem;
  margin-left: -1rem;
  line-height: 1;
  position: relative; }
  .hero__heading::before {
    display: block;
    content: "";
    height: 10rem;
    width: 20rem;
    background-image: url("../../img/dots.svg");
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem);
    opacity: .25;
    position: absolute;
    bottom: .14em;
    left: -20rem; }
    @media (max-width: 1100px) {
      .hero__heading::before {
        top: -5rem;
        left: 2rem; } }
  @media (max-width: 690px) {
    .hero__heading {
      font-size: 13rem; } }

.hero__sub {
  color: #fbfbfb;
  font-size: 2.5rem;
  width: 65%;
  font-weight: 500;
  line-height: 1.9;
  margin-left: 10rem;
  position: relative; }
  .hero__sub::before {
    content: "";
    position: absolute;
    width: 8rem;
    height: .1rem;
    background-color: #72777e;
    top: 2.5rem;
    left: -9.9rem;
    opacity: .3; }
  @media (max-width: 690px) {
    .hero__sub {
      width: 75%;
      font-size: 2rem; } }
  @media (max-width: 404px) {
    .hero__sub {
      font-size: 2.6rem; } }

.hero__social {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 3rem;
  margin-left: 10rem; }

.hero__social-link {
  cursor: pointer; }
  .hero__social-link:focus {
    outline: 0; }

.hero__social-icon {
  font-size: 2rem;
  transition: all .6s; }
  .hero__social-icon:hover {
    color: #f9f500; }
  @media (max-width: 690px) {
    .hero__social-icon {
      font-size: 2.5rem; } }

.hero__img {
  grid-column: col-start 6 / full-end;
  background-image: url("../../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  margin-top: -9rem;
  margin-left: -28.5rem; }
  .hero__img::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .36; }
  @media (max-width: 1200px) {
    .hero__img {
      margin-left: -35.5rem; } }
  @media (max-width: 1033px) {
    .hero__img {
      background-position: 30% 70%; } }
  @media (max-width: 550px) {
    .hero__img {
      background-position: 28% 100%; } }

.port__content {
  grid-column: center-start / col-end 4;
  padding: 34rem 0 3rem; }
  @media (max-width: 1200px) {
    .port__content {
      padding: 30rem 0 3rem; } }
  @media (max-width: 1100px) {
    .port__content {
      padding: 0;
      align-self: center;
      margin-top: 5rem; } }
  @media (max-width: 876px) {
    .port__content {
      grid-column: center-start  / center-end;
      padding: 10rem 0 6rem;
      text-align: center; } }

.port__heading {
  font-size: 2rem;
  color: #f9f500;
  font-weight: 300;
  position: relative;
  margin-bottom: 7rem;
  margin-left: 1.5rem; }
  .port__heading::before {
    content: "01";
    color: #72777e;
    position: absolute;
    top: -13rem;
    left: -2rem;
    font-size: 15rem;
    font-weight: bold;
    z-index: -1;
    opacity: .1; }
    @media (max-width: 876px) {
      .port__heading::before {
        left: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        top: -12rem; } }
  @media (max-width: 876px) {
    .port__heading {
      margin-bottom: 7rem; } }

.port__text {
  font-size: 2.5rem; }

.port__img {
  grid-column: col-start 5 / center-end;
  display: grid;
  padding: 22rem 0 3rem;
  justify-items: center;
  position: relative; }
  .port__img::before {
    content: "";
    display: block;
    width: 28rem;
    height: 17.6rem;
    background-image: url("../../img/dots.svg");
    opacity: .25;
    position: absolute;
    top: 0rem;
    left: 2rem; }
    @media (max-width: 1100px) {
      .port__img::before {
        display: none; } }
  @media (max-width: 1100px) {
    .port__img {
      padding: 14rem 0; } }
  @media (max-width: 876px) {
    .port__img {
      grid-row: 4 / 5;
      grid-column: center-start  / center-end;
      padding: 0; } }

.port__photo {
  width: 100%; }
  @media (max-width: 1200px) {
    .port__photo {
      width: 52.496rem; } }
  @media (max-width: 1100px) {
    .port__photo {
      width: 100%; } }
  @media (max-width: 876px) {
    .port__photo {
      width: 90%; } }

.difference__illu {
  grid-column: center-start / col-end 2;
  display: grid; }
  .difference__illu .illu1 {
    width: 100%;
    margin-top: 6rem;
    align-self: center; }
    @media (max-width: 1200px) {
      .difference__illu .illu1 {
        width: 90%; } }
  @media (max-width: 1033px) {
    .difference__illu {
      display: none; } }

.difference__content {
  grid-column: col-start 3 / center-end;
  padding: 11rem 0;
  padding-bottom: 2rem; }
  @media (max-width: 1100px) {
    .difference__content {
      padding-bottom: 5rem; } }
  @media (max-width: 1033px) {
    .difference__content {
      grid-column: center-start / center-end; } }
  @media (max-width: 1033px) {
    .difference__content .center {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      justify-items: space-between;
      column-gap: 10rem; } }
  @media (max-width: 876px) {
    .difference__content .center {
      display: block;
      text-align: center; } }
  @media (max-width: 1033px) {
    .difference__content {
      padding: 9rem 0; } }
  @media (max-width: 876px) {
    .difference__content {
      padding: 17rem 5rem 5rem; } }
  @media (max-width: 550px) {
    .difference__content {
      padding-right: 0;
      padding-left: 0; } }

.difference__heading {
  font-size: 2rem;
  color: #f9f500;
  font-weight: 300;
  position: relative;
  margin-bottom: 7rem;
  text-align: right;
  margin-right: 4.5rem; }
  .difference__heading::before {
    content: "02";
    color: #72777e;
    position: absolute;
    top: -13rem;
    right: -4rem;
    font-size: 15rem;
    font-weight: bold;
    z-index: -1;
    opacity: .1; }
    @media (max-width: 1033px) {
      .difference__heading::before {
        left: -4rem; } }
    @media (max-width: 876px) {
      .difference__heading::before {
        left: 0;
        top: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        top: -12rem; } }
  @media (max-width: 1033px) {
    .difference__heading {
      margin-left: 2.5rem;
      text-align: left; } }
  @media (max-width: 876px) {
    .difference__heading {
      text-align: center;
      margin-bottom: 10rem; } }

.difference__custom-rom {
  margin-left: 28rem; }
  @media (max-width: 1033px) {
    .difference__custom-rom {
      margin: 0; } }

.difference__port-rom {
  width: 100%;
  position: relative; }
  .difference__port-rom::after {
    content: "- - - - - - V S - - - - - -";
    position: absolute;
    font-size: 3rem;
    top: -4.2rem;
    right: 47.5rem;
    opacity: .2;
    z-index: 100;
    font-weight: bold; }
    @media (max-width: 1033px) {
      .difference__port-rom::after {
        display: none; } }
    @media (max-width: 876px) {
      .difference__port-rom::after {
        display: flex;
        top: 0rem;
        right: 0rem;
        font-size: 2rem;
        margin-top: -3.8rem;
        margin-right: 10rem; } }
  @media (max-width: 1033px) {
    .difference__port-rom {
      width: auto; } }

.heading-2 {
  font-size: 4rem;
  position: relative; }
  .heading-2::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 1rem;
    background-color: #f9f500;
    z-index: 2;
    bottom: 1.3rem;
    opacity: .5; }

.text1 {
  font-size: 2.5em;
  color: white; }

.download {
  grid-column: center-start / center-end;
  padding: 14rem 0;
  padding-bottom: 10rem; }
  .download__head {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 876px) {
      .download__head {
        display: block;
        text-align: center; } }
  .download__heading {
    font-size: 2rem;
    color: #f9f500;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 3.5rem; }
    .download__heading::before {
      content: "03";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -4.5rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .download__heading::before {
          left: 0;
          top: 0;
          right: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .download__heading {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0; } }
  .download .text2 {
    font-size: 3.5rem;
    flex: 0 0 50%;
    margin-top: -11rem;
    font-weight: bold; }
    @media (max-width: 1033px) {
      .download .text2 {
        flex: 0 0 54%; } }
    @media (max-width: 876px) {
      .download .text2 {
        margin-top: 8rem; } }
  @media (max-width: 876px) {
    .download {
      padding: 7rem 0 10rem; } }

.cards {
  display: grid !important;
  margin-top: 6rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem; }
  @media (max-width: 1100px) {
    .cards {
      grid-template-columns: 1fr;
      row-gap: 8rem;
      column-gap: 0; } }
  .cards .card,
  .cards .card2,
  .cards .card3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem; }
    .cards .card__photo,
    .cards .card2__photo,
    .cards .card3__photo {
      width: 50%; }
    .cards .card__heading,
    .cards .card2__heading,
    .cards .card3__heading {
      font-size: 2rem; }
    .cards .card__codename,
    .cards .card2__codename,
    .cards .card3__codename {
      font-size: 1.5rem; }
      .cards .card__codename span,
      .cards .card2__codename span,
      .cards .card3__codename span {
        color: #f9f500;
        margin-left: 1rem; }
    .cards .card__version,
    .cards .card2__version,
    .cards .card3__version {
      font-size: 1.5rem; }
      .cards .card__version span,
      .cards .card2__version span,
      .cards .card3__version span {
        margin-left: 1rem; }
    .cards .card .btn,
    .cards .card2 .btn,
    .cards .card3 .btn {
      width: 100%;
      font-size: 1rem;
      background-color: #f9f500;
      letter-spacing: 2px;
      margin-top: 1rem;
      position: relative;
      border-radius: 1rem;
      transition: all .1s;
      color: black; }
    @media (max-width: 1100px) {
      .cards .card,
      .cards .card2,
      .cards .card3 {
        display: grid;
        grid-template-columns: min-content max-content;
        justify-content: center;
        align-items: center;
        column-gap: 4rem; }
        .cards .card__photo,
        .cards .card2__photo,
        .cards .card3__photo {
          width: 25rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__photo,
      .cards .card2__photo,
      .cards .card3__photo {
        width: 100%; } }
    @media (max-width: 1100px) {
        .cards .card__heading,
        .cards .card2__heading,
        .cards .card3__heading {
          font-size: 3rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__heading,
      .cards .card2__heading,
      .cards .card3__heading {
        font-size: 2rem; } }
    @media (max-width: 1100px) {
        .cards .card__codename,
        .cards .card2__codename,
        .cards .card3__codename {
          font-size: 2rem; }
          .cards .card__codename span,
          .cards .card2__codename span,
          .cards .card3__codename span {
            color: #f9f500;
            margin-left: 1.5rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__codename,
      .cards .card2__codename,
      .cards .card3__codename {
        font-size: 1.5rem; } }
    @media (max-width: 1100px) {
        .cards .card__version,
        .cards .card2__version,
        .cards .card3__version {
          font-size: 2rem; }
          .cards .card__version span,
          .cards .card2__version span,
          .cards .card3__version span {
            margin-left: 1.5rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card__version,
      .cards .card2__version,
      .cards .card3__version {
        font-size: 1.5rem; } }
    @media (max-width: 1100px) {
        .cards .card .btn,
        .cards .card2 .btn,
        .cards .card3 .btn {
          font-size: 1.5rem;
          width: 20rem;
          margin-top: 2rem; } }
    @media (max-width: 1100px) and (max-width: 550px) {
      .cards .card .btn,
      .cards .card2 .btn,
      .cards .card3 .btn {
        width: 100%;
        font-size: 1rem; } }
  @media (max-width: 1100px) and (max-width: 550px) {
    .cards .card,
    .cards .card2,
    .cards .card3 {
      grid-template-columns: 1fr max-content; } }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }
  @media (max-width: 876px) {
    .tabs [class^="tab"] label span,
    .tabs [class*=" tab"] label span {
      display: none; } }

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid #f9f500; }

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #f9f500; }

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs .tab-2 {
  width: 50%;
  margin-top: 5rem; }

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0; }

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%; }

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%; }

.note {
  font-size: 1.2rem;
  text-align: center;
  opacity: .5 !important;
  margin-top: 5rem;
  line-height: 1.9; }

.com-soon {
  grid-column: full-start / full-end;
  height: 100vh;
  background-image: url("../../img/cyberpunk_2077_stadia_1.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Cyberpunk";
  position: relative; }
  .com-soon img {
    width: 100%;
    display: none; }
    @media (max-width: 671px) {
      .com-soon img {
        display: initial; } }
  @media (max-width: 671px) {
    .com-soon {
      background: none;
      background-repeat: no-repeat;
      height: unset; } }
  .com-soon h1 {
    text-align: center;
    font-size: 8rem;
    color: #f9f500;
    width: 50%;
    margin: 0 auto; }
    @media (max-width: 1500px) {
      .com-soon h1 {
        width: 95%; } }
    @media (max-width: 1200px) {
      .com-soon h1 {
        font-size: 4rem;
        margin-top: 2.5rem; } }
    @media (max-width: 671px) {
      .com-soon h1 {
        top: -28px; } }
    @media (max-width: 572px) {
      .com-soon h1 {
        font-size: 4rem;
        margin-top: 2.5rem; } }
  .com-soon .countdown {
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%); }
    .com-soon .countdown ul {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      column-gap: 4rem;
      align-items: center;
      position: relative; }
      @media (max-width: 671px) {
        .com-soon .countdown ul {
          justify-content: center;
          margin-top: 13rem; } }
    .com-soon .countdown li {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      justify-items: center;
      line-height: 1;
      color: #f9f500; }
    .com-soon .countdown span {
      line-height: 1; }
    @media (max-width: 1200px) {
      .com-soon .countdown {
        font-size: 3rem;
        bottom: 7%; } }
    @media (max-width: 572px) {
      .com-soon .countdown {
        font-size: 2rem;
        margin-top: 2.5rem; } }
    @media (max-width: 671px) {
      .com-soon .countdown {
        position: relative;
        margin-bottom: 10rem; } }

.glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 74px, 0);
    transform: skew(0.21deg); }
  5% {
    clip: rect(45px, 9999px, 47px, 0);
    transform: skew(0.32deg); }
  10% {
    clip: rect(51px, 9999px, 24px, 0);
    transform: skew(0.86deg); }
  15% {
    clip: rect(25px, 9999px, 90px, 0);
    transform: skew(0.56deg); }
  20% {
    clip: rect(87px, 9999px, 14px, 0);
    transform: skew(0.99deg); }
  25% {
    clip: rect(35px, 9999px, 9px, 0);
    transform: skew(0.7deg); }
  30% {
    clip: rect(74px, 9999px, 47px, 0);
    transform: skew(0.97deg); }
  35% {
    clip: rect(54px, 9999px, 90px, 0);
    transform: skew(0.57deg); }
  40% {
    clip: rect(37px, 9999px, 9px, 0);
    transform: skew(0.61deg); }
  45% {
    clip: rect(20px, 9999px, 45px, 0);
    transform: skew(0.97deg); }
  50% {
    clip: rect(56px, 9999px, 17px, 0);
    transform: skew(0.3deg); }
  55% {
    clip: rect(36px, 9999px, 24px, 0);
    transform: skew(0.98deg); }
  60% {
    clip: rect(92px, 9999px, 62px, 0);
    transform: skew(0.38deg); }
  65% {
    clip: rect(65px, 9999px, 26px, 0);
    transform: skew(0.2deg); }
  70% {
    clip: rect(32px, 9999px, 71px, 0);
    transform: skew(0.81deg); }
  75% {
    clip: rect(44px, 9999px, 9px, 0);
    transform: skew(0.07deg); }
  80% {
    clip: rect(56px, 9999px, 34px, 0);
    transform: skew(0.83deg); }
  85% {
    clip: rect(74px, 9999px, 59px, 0);
    transform: skew(0.45deg); }
  90% {
    clip: rect(1px, 9999px, 66px, 0);
    transform: skew(0.3deg); }
  95% {
    clip: rect(16px, 9999px, 67px, 0);
    transform: skew(0.33deg); }
  100% {
    clip: rect(40px, 9999px, 79px, 0);
    transform: skew(0.41deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(13px, 9999px, 68px, 0);
    transform: skew(0.95deg); }
  5% {
    clip: rect(42px, 9999px, 42px, 0);
    transform: skew(0.48deg); }
  10% {
    clip: rect(80px, 9999px, 15px, 0);
    transform: skew(0.21deg); }
  15% {
    clip: rect(47px, 9999px, 98px, 0);
    transform: skew(0.77deg); }
  20% {
    clip: rect(41px, 9999px, 41px, 0);
    transform: skew(0.24deg); }
  25% {
    clip: rect(95px, 9999px, 40px, 0);
    transform: skew(0.64deg); }
  30% {
    clip: rect(21px, 9999px, 78px, 0);
    transform: skew(0.93deg); }
  35% {
    clip: rect(51px, 9999px, 47px, 0);
    transform: skew(0.36deg); }
  40% {
    clip: rect(16px, 9999px, 3px, 0);
    transform: skew(0.62deg); }
  45% {
    clip: rect(27px, 9999px, 4px, 0);
    transform: skew(0.81deg); }
  50% {
    clip: rect(60px, 9999px, 19px, 0);
    transform: skew(0.06deg); }
  55% {
    clip: rect(100px, 9999px, 66px, 0);
    transform: skew(0.41deg); }
  60% {
    clip: rect(58px, 9999px, 7px, 0);
    transform: skew(0.3deg); }
  65% {
    clip: rect(20px, 9999px, 38px, 0);
    transform: skew(0.5deg); }
  70% {
    clip: rect(11px, 9999px, 40px, 0);
    transform: skew(0.89deg); }
  75% {
    clip: rect(40px, 9999px, 30px, 0);
    transform: skew(0.35deg); }
  80% {
    clip: rect(83px, 9999px, 95px, 0);
    transform: skew(0.74deg); }
  85% {
    clip: rect(10px, 9999px, 2px, 0);
    transform: skew(0.72deg); }
  90% {
    clip: rect(31px, 9999px, 53px, 0);
    transform: skew(0.2deg); }
  95% {
    clip: rect(10px, 9999px, 46px, 0);
    transform: skew(0.6deg); }
  100% {
    clip: rect(88px, 9999px, 42px, 0);
    transform: skew(0.67deg); } }

@keyframes glitch-skew {
  0% {
    transform: skew(0deg); }
  10% {
    transform: skew(-4deg); }
  20% {
    transform: skew(-4deg); }
  30% {
    transform: skew(-4deg); }
  40% {
    transform: skew(-3deg); }
  50% {
    transform: skew(5deg); }
  60% {
    transform: skew(0deg); }
  70% {
    transform: skew(2deg); }
  80% {
    transform: skew(-3deg); }
  90% {
    transform: skew(3deg); }
  100% {
    transform: skew(-2deg); } }

.pic {
  width: 600px;
  height: 400px;
  background: url(pic.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.pic::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 40px;
  background: url(pic.jpg) no-repeat;
  background-size: cover;
  filter: sepia(100%);
  opacity: 0; }

.pic:hover:before {
  opacity: .7;
  animation: glitch 1.5s infinite linear; }

@keyframes glitch {
  0% {
    top: 0;
    background-position: 12px 0; }
  20% {
    top: 80px;
    background-position: -10px -80px; }
  40% {
    top: 160px;
    background-position: 6px -160px; }
  60% {
    top: 240px;
    background-position: -6px -240px; }
  80% {
    top: 320px;
    background-position: 10px -320px; }
  100% {
    top: 400px;
    background-position: -12px -400px; } }

.glitch-img {
  position: absolute; }
  @media (max-width: 1100px) {
    .glitch-img {
      transform: translateX(245px); } }

@media (max-width: 1100px) {
  .front-1,
  .front-2,
  .front-3 {
    display: none; } }

@media (max-width: 1200px) {
  .inner-con {
    margin-left: 191px !important; } }

@media (max-width: 1100px) {
  .inner-con {
    margin-left: 294px !important;
    transform: translateX(0) !important; } }

.p {
  flex: 1;
  margin: auto;
  color: #1af0dc;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate; }
  .p::before, .p::after {
    --top: 0;
    --left: 0;
    --v-height: 30%;
    --n-tenth: calc(var(--f-size) * .1 * var(--top));
    --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
    --b-cut: calc(var(--t-cut) + var(--v-height));
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    transform: translateX(calc(var(--left) * 100%));
    filter: drop-shadow(0 0 transparent);
    text-shadow: calc(var(--left) * -3em) 0 0.02em lime, calc(var(--left) * -6em) 0 0.02em #ff00e1;
    background-color: var(--bg);
    clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut)); }
  .p::before {
    animation: glitch-b 1.7s infinite alternate-reverse; }
  .p::after {
    animation: glitch-a 3.1s infinite alternate; }

@keyframes glitch-p {
  17% {
    --scale: .87; }
  31% {
    --scale: 1.1; }
  37% {
    --scale: 1.3; }
  47% {
    --scale: .91; }
  87% {
    --scale: 1; } }

@keyframes glitch-a {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0; }
  0% {
    --v-height: 15%; }
  20% {
    --left: .005; }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3; }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6; }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8; }
  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1; } }

@keyframes glitch-b {
  10%, 30%, 50%, 70%, 90% {
    --top: 0;
    --left: 0; }
  0% {
    --v-height: 15%;
    --top: 10; }
  20% {
    --left: -.005; }
  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3; }
  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6; }
  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8; }
  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1; } }

.install {
  grid-column: center-start / center-end;
  padding: 14rem 0;
  padding-bottom: 8rem; }
  .install__heading {
    font-size: 2rem;
    color: #f9f500;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 1.5rem; }
    .install__heading::before {
      content: "04";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -2rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .install__heading::before {
          left: 0;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .install__heading {
        text-align: center;
        margin-bottom: 10rem; } }
  .install__steps {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 4rem; }
  @media (max-width: 876px) {
    .install {
      text-align: center; } }
  .install__step {
    border-radius: 1.1rem;
    position: relative;
    padding: 3rem;
    box-shadow: 2px 2px 4px black; }
    .install__step::before {
      position: absolute;
      content: "";
      width: 100%;
      height: .1rem;
      top: 0;
      right: 0;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem;
      background-color: #f9f500;
      transform: scale(0);
      transform-origin: left;
      transition: all .6s; }
    .install__step::after {
      position: absolute;
      content: "";
      width: .1rem;
      height: 100%;
      left: 0;
      top: 0;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem;
      background-color: #f9f500;
      transform: scale(0);
      transform-origin: top;
      transition: all .6s; }
    .install__step:hover::before {
      transform: scale(1); }
    .install__step:hover::after {
      transform: scale(1); }
    .install__step--head {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column; }
    .install__step--head1 {
      font-size: 7rem;
      opacity: 70%;
      font-weight: bold;
      color: #FB8F1D; }
    .install__step--head2 {
      font-size: 3rem;
      font-weight: bold;
      position: relative; }
      .install__step--head2::before {
        content: "";
        position: absolute;
        width: 4rem;
        height: .4rem;
        background-color: #f9f500;
        bottom: -1rem; }
        @media (max-width: 876px) {
          .install__step--head2::before {
            width: 5%;
            left: 50%;
            transform: translateX(-50%); } }
      @media (max-width: 876px) {
        .install__step--head2 {
          margin-bottom: 2rem; } }
    .install__step--des {
      line-height: 1.9;
      font-size: 2rem;
      opacity: .7; }
      @media (max-width: 876px) {
        .install__step--des {
          margin-bottom: 1.5rem; } }
  .install__note {
    font-size: 1.4rem;
    text-align: center;
    opacity: .5 !important;
    margin-top: 5rem;
    line-height: 1.9; }
  @media (max-width: 876px) {
    .install {
      padding: 7rem 0 10rem; } }

.team {
  grid-column: center-start / center-end;
  margin-top: 14rem; }
  .team__heading {
    font-size: 2rem;
    color: #f9f500;
    font-weight: 300;
    position: relative;
    margin-bottom: 7rem;
    margin-left: 3.7rem; }
    .team__heading::before {
      content: "05";
      color: #72777e;
      position: absolute;
      top: -13rem;
      left: -4.5rem;
      font-size: 15rem;
      font-weight: bold;
      z-index: -1;
      opacity: .1; }
      @media (max-width: 876px) {
        .team__heading::before {
          left: 0;
          top: 0;
          right: 0;
          left: 50%;
          transform: translateX(-50%);
          top: -12rem; } }
    @media (max-width: 876px) {
      .team__heading {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0; } }
  .team .text2 {
    font-size: 3.5rem;
    flex: 0 0 50%;
    margin-top: -11rem;
    font-weight: bold;
    display: flex;
    column-gap: 200rem; }
    @media (max-width: 876px) {
      .team .text2 {
        margin-top: 8rem; } }

.onemes {
  text-align: center;
  margin: 4rem 0;
  color: white; }
  .onemes__smallhead {
    color: white;
    font-size: 1.5rem; }
  .onemes__headsec {
    font-size: 2.3rem;
    margin-bottom: 1rem; }
  .onemes__sub {
    font-size: 1.1rem;
    margin: 0 5rem; }
  .onemes__members {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4rem; }
    @media (max-width: 1100px) {
      .onemes__members {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
    @media (max-width: 876px) {
      .onemes__members {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); } }
  .onemes__member {
    margin: 0 2em;
    border-radius: 1.1rem;
    border-bottom: 1px solid #f9f500;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    transition: all .5s;
    box-shadow: 2px 2px 4px black;
    position: relative;
    overflow: hidden; }
    @media (max-width: 876px) {
      .onemes__member {
        width: 70%;
        margin: 0 auto; } }
    .onemes__member--photo {
      width: 100%;
      border-top-left-radius: 1.1rem;
      border-top-right-radius: 1.1rem; }
      @media (max-width: 876px) {
        .onemes__member--photo {
          width: 50%; } }
    .onemes__member--deatils {
      padding: 0 3rem 3rem 3rem; }
      @media (max-width: 876px) {
        .onemes__member--deatils {
          padding-bottom: 3rem; } }
    .onemes__member--name {
      font-size: 2rem;
      text-align: left;
      margin-bottom: 1rem; }
      @media (max-width: 876px) {
        .onemes__member--name {
          font-size: 3rem;
          text-align: center; } }
      @media (max-width: 550px) {
        .onemes__member--name {
          font-size: 2rem; } }
    .onemes__member--quote {
      font-size: 1.5rem;
      text-align: left;
      opacity: 80%; }
      @media (max-width: 876px) {
        .onemes__member--quote {
          font-size: 2rem;
          text-align: center; } }
      @media (max-width: 550px) {
        .onemes__member--quote {
          font-size: 1.5rem; } }
    .onemes__member:hover {
      background-color: #f9f500; }
      .onemes__member:hover .onemes__member--name {
        color: black; }
      .onemes__member:hover .onemes__member--quote {
        color: black; }
      .onemes__member:hover .social-group {
        color: black !important; }

.social-group {
  display: flex;
  position: absolute;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  opacity: 0;
  transition: all .6s; }
  .social-group .social {
    width: 2.5rem; }
  .social-group .facebook {
    width: 1.5rem;
    transform: translateX(-7rem);
    transition: all 1s; }
  .social-group .instagram {
    transform: translateX(-6rem);
    transition: all .7s; }
  .social-group .twitter {
    transform: translateX(-9rem);
    transition: all .5s; }

.onemes__member:hover .social-group {
  opacity: 1;
  transform: translateX(0); }

.onemes__member:hover .facebook {
  width: 1.5rem;
  transform: translateX(0); }

.onemes__member:hover .instagram {
  transform: translateX(0); }

.onemes__member:hover .twitter {
  transform: translateX(0); }

.tabs1 {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }

.tabs1 [class^="tab"] label,
.tabs1 [class*=" tab"] label {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }

.tabs1 [class^="tab"] [type="radio"],
.tabs1 [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs1 [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs1 [class*=" tab"] [type="radio"]:hover,
.tabs1 [class*=" tab"] [type="radio"]:focus {
  border-bottom: 3px solid #f9f500; }

.tabs1 [class^="tab"] [type="radio"]:checked,
.tabs1 [class*=" tab"] [type="radio"]:checked {
  border-bottom: 3px solid #f9f500; }

.tabs1 [class^="tab"] [type="radio"]:checked + div,
.tabs1 [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }

.tabs1 [class^="tab"] [type="radio"] + div,
.tabs1 [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tabs1 .tab-21 {
  width: 50%;
  margin-top: 5rem; }

.tabs1 .tab-21 [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }

.tabs1 .tab-21 [type="radio"]:checked + div {
  margin-left: 0; }

.tabs1 .tab-21:last-child [type="radio"] + div {
  margin-left: 100%; }

.tabs1 .tab-21:last-child [type="radio"]:checked + div {
  margin-left: -100%; }

.footer {
  grid-column: full-start / full-end;
  background-color: #f9f500;
  padding: 5rem 16rem;
  color: black;
  text-align: center; }
  .footer__get-in-touch {
    color: #14171b;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600; }
  .footer__sub {
    font-size: 3rem;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem; }
    .footer__sub .mobile {
      display: none; }
    @media (max-width: 876px) {
      .footer__sub span {
        display: none; }
      .footer__sub .mobile {
        display: block; } }
    @media (max-width: 550px) {
      .footer__sub {
        font-size: 1.5rem;
        width: 100%; } }
  .footer__email {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all .6s; }
    .footer__email:hover {
      color: #14171b; }
    @media (max-width: 1100px) {
      .footer__email {
        font-size: 3rem; } }
    @media (max-width: 876px) {
      .footer__email {
        margin-bottom: 7rem;
        text-align: center; } }
    @media (max-width: 550px) {
      .footer__email {
        font-size: 2.2rem; } }
  .footer__flexbox {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start; }
    .footer__flexbox .heading9 {
      color: #14171b;
      font-size: 2rem;
      letter-spacing: 3px;
      font-weight: 600; }
    @media (max-width: 1100px) {
      .footer__flexbox {
        justify-content: center; } }
  .footer .b {
    margin-left: -15rem; }
    @media (max-width: 1100px) {
      .footer .b {
        margin-left: 0; } }
    @media (max-width: 876px) {
      .footer .b {
        text-align: center; } }
  .footer__add {
    font-size: 2.5rem;
    width: 70%; }
  .footer .contact {
    font-size: 3rem; }
  .footer li {
    font-size: 2.5rem; }
  .footer__btn {
    padding: 2rem 8rem;
    background-color: #fff;
    color: #14171b;
    border: none;
    letter-spacing: 6px;
    border-radius: 1rem;
    position: relative;
    transition: all .3s;
    margin-top: 5rem;
    margin-bottom: 3rem; }
    .footer__btn::before {
      position: absolute;
      content: "";
      width: 8rem;
      height: .1rem;
      background-color: #14171b;
      top: -4rem;
      left: 0; }
    .footer__btn:hover {
      background-color: black;
      color: white; }
    .footer__btn:focus {
      outline: none; }
  .footer__innerflex {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    column-gap: 2rem; }
    @media (max-width: 1100px) {
      .footer__innerflex {
        justify-content: center; } }
  @media (max-width: 1100px) {
    .footer .z {
      display: none; } }
  @media (max-width: 876px) {
    .footer .q {
      display: none; } }
  @media (max-width: 876px) {
    .footer {
      padding: 5rem 0; } }

.floating-btn {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  right: 0;
  width: 5%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: #f9f500;
  border-radius: 50px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .floating-btn span {
    display: none; }
  .floating-btn:hover {
    width: 20%; }
    .floating-btn:hover span {
      display: block;
      font-size: 1.5rem; }

.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10000000; }
  .preloader::before {
    content: "Loading";
    position: absolute;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.1); }
  .preloader__counter {
    position: relative;
    color: white;
    font-size: 9rem;
    font-weight: bold;
    z-index: 1;
    top: -999999999999px !important; }
    .preloader__counter::after {
      content: "%";
      font-size: 7rem; }
  .preloader .hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none; }

.preloader.active {
  transform: translateY(-10000px);
  transition: ease-in-out 2s; }

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #090909;
  animation-name: bodyLight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: linear; }

.triangle {
  margin: auto;
  border-style: solid;
  border-width: 0 125px 216.5px 125px;
  border-color: transparent transparent   #F2F2F0 transparent;
  animation-name: triangleMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: linear; }
  .triangle:after {
    position: absolute;
    top: 11.5px;
    left: -114px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 115px 199.2px 115px;
    border-color: transparent transparent #090909 transparent; }
  .triangle-wrap {
    margin: auto;
    position: relative;
    width: 250px;
    height: 217px; }
  .triangle--main {
    position: relative;
    z-index: 10; }
  .triangle--red {
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent red transparent;
    animation-delay: .5s; }
  .triangle--blue {
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent blue transparent;
    animation-delay: .3s; }
  .triangle__text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: -21px;
    text-align: center;
    z-index: 9999;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    background-color: #090909;
    letter-spacing: 20px;
    animation-name: textAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear; }

@keyframes bodyLight {
  30% {
    filter: invert(14%); }
  40% {
    filter: invert(10%); }
  50% {
    filter: invert(7%); }
  60% {
    filter: invert(10%); }
  70% {
    filter: invert(12%); }
  80% {
    filter: invert(9%); }
  90% {
    filter: invert(14%); }
  100% {
    filter: invert(11%); } }

@keyframes triangleMove {
  10% {
    transform: translateX(10px);
    filter: blur(3px); }
  20% {
    transform: translateX(4px);
    filter: blur(0); }
  30% {
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px); }
  40% {
    transform: translateX(7px);
    filter: blur(0); }
  50% {
    transform: translateX(3px); }
  60% {
    transform: translateX(2px);
    filter: blur(5px); }
  70% {
    transform: translateX(-2px);
    filter: blur(0); }
  80% {
    transform: translateX(3px);
    filter: blur(2px); }
  90% {
    transform: translateX(-3px); }
  100% {
    transform: translateX(3px); } }

@keyframes textAnim {
  10% {
    transform: scale(1.2) skew(180deg); }
  11% {
    transform: scale(1) skew(180deg); }
  70% {
    transform: scale(1) skew(-300deg);
    filter: blur(1px); }
  99% {
    transform: scale(1) skew(200deg); }
  100% {
    transform: scale(1) skew(-200deg); } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 23, 27, 0.95);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    width: 190rem;
    height: 250rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, 90%) scale(0.25);
    transition: all .5s .2s;
    font-size: 6rem;
    color: black; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.25); }
  .popup__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    border-bottom: 1px solid #f9f500;
    color: #14171b;
    font-size: 6rem; }
    @media (max-width: 550px) {
      .popup__head {
        padding: 4rem 13rem; } }
  .popup .fa-times {
    color: #f9f500;
    font-size: 10rem; }
  .popup__heading {
    font-size: 8rem; }
  .popup__container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    padding: 13rem;
    row-gap: 4rem;
    color: #14171b;
    transition: all .1s ease-in-out;
    position: relative; }
  .popup .new {
    display: flex;
    align-items: center; }
    .popup .new:after {
      content: "Latest";
      margin-left: 7rem;
      background-color: #f9f500;
      color: #fff;
      padding: 2rem 4rem;
      border-radius: 3rem;
      font-weight: bold;
      font-size: 4rem;
      display: inline-block;
      letter-spacing: 5px;
      animation: scale 3s infinite; }
  .popup__left {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    font-weight: bold; }
  .popup__download, .popup__links {
    padding: 1rem 11rem; }
  .popup__download-heading {
    font-size: 7rem; }
  .popup__flex {
    display: flex;
    margin-top: 5rem;
    column-gap: 4rem; }
  .popup .fa-times {
    color: #14171b;
    transition: all .6s; }
    .popup .fa-times:hover {
      transform: rotateZ(360);
      color: #f9f500; }
  .popup__d {
    background-color: #f9f500;
    color: white;
    border: 1px solid black;
    font-size: 5rem;
    padding: 3rem 10rem;
    border-radius: 3rem;
    transition: all .6s; }
    .popup__d--new:hover {
      background-color: white;
      border: 1px solid black;
      color: #f9f500; }
    .popup__d--old {
      background-color: black; }
      .popup__d--old:hover {
        background-color: white;
        border: 1px solid black;
        color: black; }
  .popup__links-heading {
    font-size: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .popup__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem; }
  .popup__link {
    flex: 0 0 30%;
    text-align: center;
    background-color: #f9f500;
    color: white;
    font-size: 5rem;
    border: 1px solid white;
    padding: 3rem 10rem;
    border-radius: 3rem;
    transition: all .6s;
    font-weight: bold; }
    .popup__link:hover {
      background-color: #fff !important;
      border: 1px solid #f9f500;
      color: #f9f500 !important; }
    .popup__link--join {
      flex: 1; }
  .popup__changelog {
    position: absolute;
    left: 3%;
    top: 10%;
    transform: translate(-50%, -50%);
    transform: scale(0);
    transition: all .2s;
    margin-left: 6rem; }
    .popup__changelog h2 {
      font-weight: normal; }
    .popup__changelog ul {
      display: grid;
      grid-template-columns: 7% 93%;
      row-gap: .7rem;
      width: 90%; }
    .popup__changelog li {
      margin-bottom: 1rem; }
    @media (max-width: 550px) {
      .popup__changelog {
        padding: 0rem 8rem;
        margin-left: 0rem;
        margin-right: 0rem; } }
  .popup__fixes {
    position: absolute;
    left: 3%;
    top: 12%;
    transform: translate(-50%, -50%);
    transform: scale(0);
    transition: all .2s;
    margin-left: 6rem; }
    .popup__fixes h2 {
      font-weight: normal; }
    .popup__fixes ul {
      display: grid;
      grid-template-columns: 7% 93%;
      row-gap: 3rem;
      width: 90%; }
    .popup__fixes li {
      margin-bottom: 1rem; }
      .popup__fixes li span {
        color: #f9f500; }
    @media (max-width: 550px) {
      .popup__fixes {
        padding: 4rem 8rem;
        margin-left: 0rem;
        margin-right: 0rem; } }

@keyframes scale {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0); } }

.motab-navigation {
  display: none; }
  @media (max-width: 1100px) {
    .motab-navigation {
      position: fixed;
      z-index: 1000;
      display: block; }
      .motab-navigation__checkbox {
        display: none; }
      .motab-navigation__button {
        background-color: white;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        right: 7rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer; }
        .motab-navigation__button:focus {
          outline: none; } }
    @media (max-width: 1100px) and (max-width: 690px) {
      .motab-navigation__button {
        right: 2.1rem; } }
  @media (max-width: 1100px) {
      .motab-navigation__background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        right: 7.5rem;
        background-color: #14171b;
        z-index: 1000;
        transition: all .6s ease-in-out; } }
    @media (max-width: 1100px) and (max-width: 690px) {
      .motab-navigation__background {
        right: 2.5rem; } }
  @media (max-width: 1100px) {
      .motab-navigation__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .6s ease-in-out; }
      .motab-navigation__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      .motab-navigation__link:link, .motab-navigation__link:visited {
        font-size: 3rem;
        font-weight: bold;
        font-family: cyberpunk;
        color: color;
        padding: 1rem 2rem;
        display: inline-block;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f9f500 50%);
        background-size: 230%;
        transition: all .4s; }
      .motab-navigation__link:hover {
        background-position: 100%;
        color: black;
        transform: translateX(1rem); }
      .motab-navigation__checkbox:checked ~ .motab-navigation__background {
        transform: scale(110); }
      .motab-navigation__checkbox:checked ~ .motab-navigation__nav {
        opacity: 1;
        width: 100%; }
      .motab-navigation__icon {
        position: relative;
        margin-top: 2.3rem; }
        .motab-navigation__icon, .motab-navigation__icon::before, .motab-navigation__icon::after {
          width: 3rem;
          height: .3rem;
          background: black;
          display: inline-block; }
        .motab-navigation__icon::before, .motab-navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .motab-navigation__icon::before {
          top: -.8rem; }
        .motab-navigation__icon::after {
          top: .8rem; }
      .motab-navigation__button:hover .motab-navigation__icon::before {
        top: -1rem; }
      .motab-navigation__button:hover .motab-navigation__icon::after {
        top: 1rem; }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon {
        background-color: transparent; }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::before {
        top: 0;
        transform: rotate(45deg); }
      .motab-navigation__checkbox:checked + .motab-navigation__button .motab-navigation__icon::after {
        top: 0;
        transform: rotate(-45deg); } }
