$colors: (
    primary: #D9083C,
    secondary: #FB8F1D,
    light-white: #fbfbfb,
    white: #fff,
    light-grey: #72777e,
    background: #14171b
);

$bp-largest1: 1266px;
$bp-largest: 1200px;
$bp-large: 1100px;
$bp-medium: 1033px;
$bp-small: 876px;
$bp-smallest: 690px;
$bp-smallest-v2: 550px;
$bp-smallest-v3: 442px;